<!DOCTYPE html>
<html>
  <head>
    <%- include('head') %>
  </head>
  <body>
    <header>You have finised the quiz</header>
    <section>
      <p>Your score was <%= correct %> out of <%= num %></p>
    </section>
  </body>
</html>
