<!DOCTYPE html>
<html>
  <head>
    <%- include('head') %>
  </head>
  <body>
    <header>You have finised the quiz</header>
    <section>
      <p>
        Your score was <%= quiz.questions.filter(({correct})=>correct).length %>
        out of <%= quiz.questions.length %>
      </p>
    </section>
  </body>
</html>
