<!DOCTYPE html>
<html>
  <head>
    <%- include('head') %>
  </head>
  <body>
    <header>Welcome to the quiz app</header>
    <form method="post" action="/">
      <section>Please Select a Topic</section>
      <button type="submit">Continue</button>
    </form>
  </body>
</html>
